@import url('https://fonts.googleapis.com/css?family=Cardo|Fjalla+One|Source+Sans+Pro|Roboto|Hind|Anton|Josefin+Sans|Crimson+Text|Sue+Ellen+Francisco&display=swap');


#project-description{
	line-height: 200%;
	text-align: left;
	font-size: 16px;
	font-family: 'Hind', sans-serif;
}
#project-view-segment{
	background-color: #101357;
}
#project{
	background-color: white;
}

#project-title, #project-date{
	font-family: 'Fjalla One', sans-serif;
}
#link-button{
	color: black;
}

#link-button:hover{
	color: white;
}